:root {
    --gray-25: #ccc;
    --gray-100: #333;
    --white: #fff;
    --yellow: #ff0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: var(--gray-100);
    font-family: Verdana, Tahoma, sans-serif;
    color: var(--white);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.nav-logo {
    text-transform: uppercase;
    font-family: 'Arial Black', sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.nav-logo a {
    color: var(--yellow);
}

.nav-menu-content,
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: var(--gray-25);
    transition: .3s ease all;
}

.nav-link:hover {
    color: var(--yellow);
}

.avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
    border: solid 2px transparent;
    transition: .3s ease all;
}

.avatar img:hover {
    border: solid 2px var(--yellow);
}

.nav-hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--white);
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 10.5px;
    border: solid 2px var(--yellow);
    margin-right: 15px;
    text-transform: uppercase;
    transition: .3s ease all;
}

.btn:hover {
    background-color: var(--gray-100);
    color: var(--gray-25);
    border-color: var(--gray-100);
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--gray-100);
    background-color: var(--yellow);
}

.btn-circle svg {
    margin-left: 3px;
    font-size: 16px;
}

.btn-square {
    width: 100px;
    height: 40px;
    color: var(--gray-25);
    border-radius: 50px;
    background-color: transparent;
}

.container {
    margin: 0 20px;
}

.banner {
    font-size: 14px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/banner-Attack-on-Titan.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner .container {
    width: 75%;
}

.banner-title {
    margin-top: 5%;
    font-size: 30px;
}

.banner-season {
    margin-top: 5px;
    font-size: 14px;
}

.banner-description {
    text-align: justify;
    margin-top: 10px;
}

.banner .buttons {
    margin-top: 20px;
    margin-left: 20px;
}

.box-cover {
    display: block;
}

.title-carousel {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.item{
    cursor: pointer;
}

.item img{
    border-radius: 10px;
    transition: transform .2s;
}

.item img:hover{
    transform: scale(0.95);
}

.watching .owl-carousel .owl-item:before{
    content : "";
    position: absolute;
    left    : 0;
    top  : 0;
    height  : 100%;
    width   : 100%;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.watching .owl-carousel .owl-item:nth-child(1):after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 45%;
    border-radius: 0 0 0 10px;
    border-bottom:5px solid var(--yellow);
}

.watching .owl-carousel .owl-item:nth-child(2):after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 10%;
    border-radius: 0 0 0 10px;
    border-bottom:5px solid var(--yellow);
}

.watching .owl-carousel .owl-item:nth-child(3):after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 80%;
    border-radius: 0 0 0 10px;
    border-bottom:5px solid var(--yellow);
}

@media(max-width:768px) {
    .avatar {
        display: none;
    }

    .nav-hamburger {
        display: block;
    }

    .nav-hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-hamburger.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .nav-hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: var(--gray-100);
        width: 100%;
        text-align: center;
        transition: .3s ease;
    }

    .nav-item {
        width: 100%;
        padding: 15px;
        border-top: 1px solid var(--white);
    }

    .nav-menu.active {
        top: 70px;
    }
}

@media(max-width:576px) {

    .banner .container {
        width: 90%;
    }

    .banner-title {
        margin-top: 5%;
        font-size: 30px;
    }

    .banner-season {
        margin-top: 5px;
        font-size: 14px;
    }

    .banner-description {
        text-align: justify;
        margin-top: 10px;
    }
}